ONSITE_WORKER_HOSTNAME=aswindle-133446-w1
ONSITE_WORKER_MAC_ADDRESS=00:4e:01:fc:67:61
ONSITE_PREFECT_WORKER_CONTAINER=onsite-prefect-worker
ONSITE_PREFECT_WORKER_IMAGE=onsite-prefect-worker:latest
PREFECT_API_URL=http://bball-130449.nrel.gov:4200/api
PREFECT_WORK_POOL=julia-pool
PREFECT_TASK_WORKER_LIMIT=108
PREFECT_TASKS_SCHEDULING_DEFAULT_STORAGE_BLOCK=onsite-minio-proxy-storage/onsite-task-scheduling
ONSITE_CAPTURE_JULIA_OUTPUT=true
NREL_DEVELOPER_API_KEY=
ONSITE_HOST_REPO_PATH=/home/aswindle/docker/onsite-energy/onsite-energy-analysis
ONSITE_HOST_DATA_PATH=/home/aswindle/docker/onsite-energy/iedo00onsite_data
ONSITE_HOST_JULIA_CACHE_PATH=/home/aswindle/docker/onsite-energy/julia-cache
